.qu-timeline-container {
  padding: 0 20px;
  .qu-timeline {
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    .timeline-point {
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color green;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}