.qu-timeline-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background-color: #eee;
    .timeline-point {
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color green;
      border-radius: 50%;
      cursor: pointer;
    }
}